@charset  "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*초기화*/
* {
    margin:0; 
    padding:0;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:inherit;
}
.blind {
    position:absolute;
    left:-9999px;
}

/*헤더*/
header {
    background-color:#143869;
    color:#fff;
    position:relative;
}

header h1 {
    line-height:80px;
    text-align:center;
}

.lnb ul {
    display:none;
}

.lnb .menuAll {
    display:block;
    width:45px; height:34px;
    position:absolute;
    top:23px; right:20px;
    background:url(../img/introduce/allmenu.png) no-repeat;
    text-indent:-9999px;  
}


/* -------------------------------- */
/* 섹션공통 */
section:nth-of-type(2n+1){
    background-color :#f3f3f3 ;
}
section  h2  {
    padding :30px  0  50px ;
    text-align : center ;
    font-size :1.8rem ;
}
.container  {
    padding :0  50px  50px ;
}

/* 왜 코딩교육인가 */
.coding  img  {
    display : none ;
}
.coding  p  {
    font-size :1.2rem ;
    line-height : 1.5 ;
}
/* 인용문 */
.message  {
    padding-top : 50px ;
    text-align : center ;
}
.message::before  {
    content : url(../img/introduce/quot-1.png);
}
.message::after  {
    content : url(../img/introduce/quot-2.png);
    display : block ;
}
.message {
    color :orange;
    font-size :1.5rem;
    font-weight : 700;
    font-family : "나눔 명조", serif;
    font-style :italic;
    margin : 20px 0 10px;
}
.message span {
    color :#aaa;
    font-size  :1.2rem;
    font-weight : 700;
    font-family : "나눔 명조", serif;
    font-style : italic;
    margin-bottom : 20px;
    display : block;
    margin-bottom : 20px;
}

/* 교육프로그램 */
.program div {
    border :1px  solid  #aaa;
    background-color : #fff;
    padding : 30px;
    margin-bottom : 20px;
    box-sizing : border-box;
}
.program h3 {
    font-size : 1.2rem;
    margin-bottom : 20px;
}
/*푸터*/
footer {
    background-color :#143869;
    color :#fff;
    padding-top : 50px;
}
.sns {
    margin-top :30px;
    overflow : hidden;
}
.sns li {
    float : left;
}
.sns li a {
    display : block;
    width : 32px;
    height : 32px;
    margin-right : 20px;
    background : url(../img/introduce/icon_sns.png) no-repeat;
    text-indent : -999px;
}
.sns li:nth-child(2) a {
    background-position : -32px  0;
}
.sns li:nth-child(3) a {
    background-position : -64px  0;
}
.sns li:nth-child(4) a {
    background-position : -96px  0;
}
address {
    font-size : normal;
}
/* 추가내용. */
@media screen and (min-width : 765px) {
    .lnb ul {
        display: block;
        text-align: center;
        overflow: hidden;
    }
    
    .lnb ul li {
        display: inline-block;
    }
    .lnb ul li a {
        padding: 0;
        line-height: 60px;
        font-size: 1.2em;
        font-weight: 700;
    }
    .lnb .menuAll {
        display: none;
    }
    .container {
        max-width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }
    .coding img {
        display: block;
        float: right;
        padding-left: 60px;
    }
    .coding p {
        padding-top: 50px;
    }

    .program div {
        margin: 0 10px;
        min-height: 350px;
    }
    /* 푸터 */
    footer address {
        float: left;
    }
    .sns {
        float: right;
        margin-top: 0;
    }
}