@charset  "utf-8";
* {
    margin : 0 ;
    padding : 0 ;
}
fieldset  {
    border  :0 ;
}
table {
    border-collapse : collapse ;
    /* 테두리 사이의 간격없애기 */
}
caption  {
    position : absolute ;    /* 절대위치 */
    left :9999em ;
}
h1 {
    font-size: 70px;
    text-align : center;
}
body  {
    font-family : "나눔고딕","Nanum Gothic", "sans-serif";
    font-size  : 16px ;
    color : #333 ;
}
#join_wrap  {
    width : 800px ;
    margin : 0  auto ;
}
#join_wrap  .title  {
    padding :50px  0  20px ;
    font-size :2em ;
    font-weight : 700 ;
}
.joinTable  th , .joinTable  td {
    padding :10px ;
    box-sizing : border-box ;
    border-bottom : 1px  solid  #ddd ;
}
.joinTable  th  {
    width : 127.5px ;
    text-align : left ;
    background-color : #3dee1056 ;
}
.joinTable  td  {
    width : 650px ;
}
.joinTable  .first  {
    border-top : 2px  solid  #333 ;
}
.joinTable  .textForm  {
    width : 420px ;
    height : 42px ;
    border :1px  solid  #000000 ;
    border-radius : 5px ;
    padding :0px  10px ;
    box-sizing : border-box ;
}
#user_id, #user_pwd {
    width: 200px;
}
#user_firstname {
    width: 60px;
}
#user_lastname {
    width: 100px;
}
#user_nickname {
    width: 150px
}
#user_tel1 {
    width: 65px;
    text-align: center;
}
#user_tel2 {
    width: 80px;
    text-align: center;
}
#user_email {
    width: 160px;
}
#usermailtail {
    width: 120px;
}
#intro {
    padding: 5px;
    height: 300px;
}
/* 중복확인 */
.joinTable  .btn  {
    width : 100px ;
    height : 42px ;
    background-color : #173ba0 ;
    border :0 ;
    border-radius : 5px ;
    color :#fff ;
    font-size: 15px;
    font-weight: 900;
    float: center;
}
.joinTable .btn:active{
    background-color: #de5050;
}
/* 텍스트에리어 */
.joinTable  .textarea  {
    width : 420px ;
    height : 800px ;
    border :1px  solid  #ddd ;
    border-radius : 5px ;
    padding :10px ;
    box-sizing : border-box ;
    /* 테두리의 두께를 포함한 크기를 지정 */
}
/* 버튼 */
.btn_area  {
    text-align :center  ;
    margin : 30px  0 ;
}
.btn_area  button  {
    width : 200px ;
    height : 72px ;
    margin : 0  10px ;
    border :0 ;
    font-size : 20px ;
}
.btn_can {
    background-color: #d62a33;
    color: #fff;
}
.btn_can:hover{
    background-color: pink;
}
.btn_area  .btn_join  {
    background-color :  #173ba0 ;
    color :#fff ;
}
.btn_join:hover {
    background-color: lightblue;
}