@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gamja+Flower&display=swap');

@font-face {
    font-family: xx;
    src: url(../font/Gamja_Flower/GamjaFlower-Regular.ttf) format("truetype");
}
/* reset */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    /* inherit 부모속성 적용 */
}

body {
    font-size: 16px;
    font-family: "Gamja Flower", xx, "나눔고딕", "Nanum gothic", sans-serif;
    color: #333;
}

/* 헤더 */
.header {
    width: 1140px;
    height: 90px;
    margin: 0 auto;
    /* background-color: #ddd; */
}

.header h1 {
    float: left;
    padding-top: 28px; /* 90-34(이미지높이)=56/2=28 */
    margin-right: 25px;
}

.header h2 {
    float: left;
    line-height: 90px;
    font-size: 25px;
    color: rgb(99, 172, 201);
}

.header .menu {
    float: right;
}

.header .menu li {
    float: left;
    margin-left: 40px;
    line-height: 90px;
}

.header .menu li a:hover {
    color: blue;
}

/* 메인비주얼 */

.section1 {
    height: 654px;
    /* background-image: url(./img/pc-cover-main.jpg);
    background-repeat: no-repeat;
    background-position: center top; */
    background: url(../img/index/2987834940___.png) no-repeat center top;
    background-attachment: fixed;
    background-size: cover; /* 박스를 꽉채운다 이미지가 잘린다 */
}

.section1 b {
    display: block;
    padding: 95px 0 15px;
    color: #fff;
    text-align: center;
    font-size: 3em;
}

.section1 > p {
    color: #fff;
    text-align: center;
    padding-bottom: 75px;
}

.section1 .container {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.section1 .container .quick {
    float: left;
    width: 270px;
    height: 270px;
    background-color: white;
    margin-right: 20px;
    border-radius: 20px;
}

.section1 .container .quick.last {
    margin-right: 0px;
}

.section1 .quick h3 {
    margin: 55px 30px 30px 30px;
    font-size: 28px;
    background: url(../img/index/arrow.jpg) no-repeat right;
    /* 주의: 앞에 background-repeat , background-position 등 주석처리할것 */
}

.section1 .quick p {
    margin: 0 30px;
    font-size: 18px;
    letter-spacing: -1px;
}

/* 섹션2 */
    .section2 {
    width: 1140px;
    margin: 0 auto;
}

.section2 > div {
    float: left;
    width: 480px;
    padding: 80px 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
}

.section2 h3 {
    font-size: 28px;
    padding-bottom: 15px;
}

.section2 .intro1 {
    background-image: url(../img/index/icon001.png);
    margin: 80px 0;
    margin-right: 180px;
}

.section2 .intro2 {
    background-image: url(../img/index/icon002.png);
    margin: 80px 0;
}